body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: url("../../assets/images/bg-home-pc.jpg");
  background-size: cover;
  height: 100vh; }

.header {
  display: flex;
  padding: 2vh;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #292929; }

.header-brand {
  display: block;
  position: relative; }

.header-brand-img {
  width: 30vh; }

.h2{
  font-size: 3em;
}

.span {
  font-weight: lighter;
  font-size: 0.5em;
  color: #94bf1e; 
  font-style: italic;
  display: flex;
}

.span-vc {
  color: #94bf1e; }

.text{
  margin-top: 12em;
}

.p{
  font-size: 1.5em;
}

label {
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: block;
  font-weight: bold; }

input, .btn {
  height: 2.5em;
  border: 0;
  margin: 0;
  padding: 0 0.5em;
  border-radius: 0.2em;
  cursor: pointer; }

input {
  border: 1px solid;
  margin-right: 0.5em; }

#emailConfirmation{
  display: none;
}

.link-esqueceu-senha {
  margin-top: 0.2em;
  font-size: 0.8em;
  font-weight: lighter;
  color: #fff;
  text-align: right;
  margin-right: 12.5em;
  display: block;
  text-decoration: none; }

.input-form-cadastro {
  width: 95%;
  padding: 0 0.5em; }

.btn {
  margin-top: 1em;
  padding: 0 0.5em;
  border: 1px solid #94bf1e;
  background: #94bf1e; }

.select-sexo {
  border: 1px solid #000;
  background: none;
  width: 42%;
  height: 2.5em;
  padding: 0 0.5em;
  border-radius: 0.2em; }

.container {
  display: flex; }

.container-left {
  width: 50%;
  text-align: center;
  margin: 1em; }

.container-right {
  width: 50%;
  margin: 1em; }

@media (max-width: 767px) {
  .hidden-mobile {
    display: none; }
  .header {
    justify-content: center; }
  .container {
    display: block; }
  .container-left {
    width: 90%; }
  input {
    width: 90%;
    margin-top: 1em; }
  .btn {
    width: 50%; }
  .btn-cadastrar {
    background: transparent;
    boder: 2em solid; }
  .h2{
    font-size: 1.5em;
  }

  .text{
    margin-top: 0;
  }
     }

@media (min-width: 768px) {
  .hidden-pc {
    display: none; } }
